<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutUs" routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactUs" routerLinkActive="active">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/product" >Product</a></li>
              <li><a class="dropdown-item" routerLink="/order">Order</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success" type="submit"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Data Entry</button>
        </form>
      </div>
    </div>
  </nav>
  
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="./" class="modal-title fs-5 text-decoration-none text-dark" id="exampleModalLabel">Product</a>
          <div style="margin-left: 15em;">
            <a href="./" class=" fs-5 text-decoration-none text-dark me-2" id="exampleModalLabel">Register</a>
            <a routerLink="/login" class=" fs-5 text-decoration-none text-dark"  id="exampleModalLabel">Login</a>
          </div>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userRegisterForm">
            <div class="mb-3">
              <label for="fName" class="col-form-label">FullName</label>
              <input type="text" formControlName="fullName" class="form-control" id="fName" name="fname">
              <div class="text-danger">{{fullName?.errors | json}}</div>
            </div>
            <div class="mb-3"> 
              <label for="fEmail" class="col-form-label">Email</label>
              <input type="email" formControlName="email" class="form-control" id="fEmail" name="femail">
              <div  class="text-danger">{{email?.errors | json}}</div>
            </div>
            <div class="mb-3">
              <label for="fUserName" class="col-form-label">UserName</label>
              <input type="text" formControlName="userName" class="form-control" id="fUserName" name="fusername">
              <div  class="text-danger">{{userName?.errors | json}}</div>
            </div>
              <div class="mb-3">
              <label for="fPassword" class="col-form-label">Password</label>
              <input #pass type="password" formControlName="password" class="form-control" id="fPassword" name="fpassword">
              <div  class="text-danger">{{password?.errors | json}}</div>
            </div>
            <div class="mb-3">
              <label for="fConfirmPass" class="col-form-label">Confirm Password</label>
              <input #confPass type="password" formControlName="confirmPassword" class="form-control" id="fConfirmPass" name="fconfirmpass">
              <div  class="text-danger" *ngIf="pass.value!=confPass.value">password not match {{confirmPassword?.errors | json}}</div>
            </div>
            <!-- <div class="mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div> -->
          </form>
        </div>
        <div class="ms-3">
          <button type="button" class="btn btn-primary">Register</button>
        </div>
        <hr>
        <h5 class="mx-auto">Already have account! <a routerLink="/login">Login</a></h5>
      </div>
    </div>
  </div>